# Base de Datos (Neon)
DATABASE_URL=postgresql://neondb_owner:npg_wPMzm5QDEr7g@ep-little-grass-annq7myh-pooler.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# Seguridad (NextAuth)
NEXTAUTH_SECRET=7a9b3c4d5e6f7g8h9i0j1k2l3m4n5o6p
NEXTAUTH_URL=https://btfcasheb-8016s-projects.vercel.app

# Administración y Precios
ADMIN_EMAIL=calculadora.albion.online@gmail.com
WEEKLY_PRICE=3 USDT
MONTHLY_PRICE=10 USDT
YEARLY_PRICE=100 USDT
NEXT_PUBLIC_WEEKLY_PRICE=3 USDT
NEXT_PUBLIC_MONTHLY_PRICE=10 USDT
NEXT_PUBLIC_YEARLY_PRICE=100 USDT

# Correos (Resend)
RESEND_API_KEY=re_7BvnfRNh_8hwzu6jE4PiZs72p7rZvt9KW

# Seguridad de Peticiones (Upstash)
UPSTASH_REDIS_REST_URL=https://honest-sheepdog-82685.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAUL9AAIncDI4MDZmNzUyNzgxOTQ0ZDQ5OGU2YWFmNzZjNGQ3ZmEyNHAyODI2ODU

# Fotos de Pagos (Vercel Blob)
# Asegúrate de que este valor coincida con el que sale en Vercel Storage
BLOB_READ_WRITE_TOKEN=tu_token_aqui
